@use "../../styles/abstracts/variables-colors" as colors;

.linkButton {
  display: inline-block;
  border: 0;
  border-radius: 50px;
  padding: 12px 30px;
  font-weight: bold;
  cursor: pointer;
  background-color: colors.$slate-1;
  color: colors.$slate-9;
  text-decoration: none;
}
