@use "../../styles/layouts/responsive" as responsive;
@use "../../styles/abstracts/variables-colors" as colors;
@use "../../styles/abstracts/mixins-screens" as screens;

#generateMusic {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("/assets/images/background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .container {
    @include responsive.container;

    .wrapper {
      padding: 50px 0;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .texts {
        h1 {
          font-weight: 900;
          line-height: 50px;
          font-size: 32px;
          color: colors.$slate;

          @include screens.tabletAndDesktop {
            font-size: 58px;
          }
        }

        .genre {
          color: colors.$primary;
        }
      }

      .controls {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
      }

      .chords {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        & > div {
          width: calc((100% - (10px * 3)) / 4);
        }

        @include screens.tabletAndDesktop {
          & > div {
            width: calc((100% - (10px * 6)) / 7);
          }
        }
      }
    }
  }
}
